.label-left{
	display: flex;
	text-align: start;
}

.gradient-custom-2 {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom, #219dff, #a2a7e3, #a2e3a7, #21ff9d);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom, #219dff, #a2a7e3, #a2e3a7, #21ff9d);
}
  @media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
	  /* Chrome 10-25, Safari 5.1-6 */
		background: -webkit-linear-gradient(to right, #219dff, #a2a7e3, #a2e3a7, #21ff9d);

		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background: linear-gradient(to right, #219dff, #a2a7e3, #a2e3a7, #21ff9d);
  }
  }
